{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Mes fichiers</h1>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            {{form_start(uploadForm, {'attr': {'class': 'form-send'}})}}
            <div class="form-group">
                <label for="exampleInputEmail1">Choix du fichier</label>
                {{ form_widget(uploadForm.upload) }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nom du fichier</label>
                {{ form_widget(uploadForm.name) }}
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Envoyer</button>

            {{form_end(uploadForm)}}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom du fichier</th>
                    <th scope="col">Lien</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td><a href="../uploads/files/{{ document.upload}}"> <i class="fas fa-cloud-download-alt"></i></a>
                    </td>
                    <td>
                        <form class="trash" method="post"
                            action="{{ path('user_document_delete', {'id': document.id}) }}"
                            onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
                            <button class="trash"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}